/*
***********************************************
the display size of calendar depend on the screen size
at 600px, 900px, 1200px.
***********************************************
*/
@media only screen and (max-width: 600px) {
    :root {
        --week-title-display: inline;
        --week-block-display:grid;
        --day-block-height: 90px;
        --day-block-width: 90px;
        --grid-template-columns: repeat(7, 90px);
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --week-title-display: inline;
        --week-block-display:grid;
        --day-block-height: 90px;
        --day-block-width: 90px;
        --grid-template-columns: repeat(7, 90px);
    }
}


@media only screen and (min-width: 900px) {
    :root {
        --week-title-display: inline;
        --week-block-display:grid;
        --day-block-height: 120px;
        --day-block-width: 120px;
        --grid-template-columns: repeat(7, 120px);
    }
}


@media only screen and (min-width: 1200px) {
    :root {
        --week-title-display: inline;
        --week-block-display:grid;
        --day-block-height: 170px;
        --day-block-width: 170px;
        --grid-template-columns: repeat(7, 170px);
    }
}

/*
***********************************************
main css setting for calendar
***********************************************
*/

.week-of-day {
    display: var(--week-title-display);
    background-color:rgb(92, 106, 120);
    margin:0%;
    padding:0%;
    height: 40px;
    width: var(--day-block-width);
}
.week-of-day p{
    text-align: center;
}

.calendar-day-block {
    background-color:rgb(137, 149, 160);
    height: var(--day-block-height);
    width: var(--day-block-width);
}

#calendar-day-main {
    display: var(--week-block-display);
    gap: 3px;
    grid-template-columns: var(--grid-template-columns)
}

.calendar-day-block p {
    color:blue;
    margin:0%;
    padding:0%;
    border: 0%;
}

.hidden {
    display:none
}

