@font-face {
  font-family: "Mochiy Pop One";
  src: url("../fonts/MochiyPopOne-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont.ttf");
}

/*
***********************************************
the display size of calendar depend on the screen size
at 600px, 900px, 1200px.
***********************************************
*/
@media only screen and (max-width: 600px) {
  :root {
    --week-title-display: inline;
    --week-block-display: grid;
    --day-block-height: 90px;
    --day-block-width: 90px;
    --grid-template-columns: repeat(7, 90px);
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --week-title-display: inline;
    --week-block-display: grid;
    --day-block-height: 90px;
    --day-block-width: 100%;
    --grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  :root {
    --week-title-display: inline;
    --week-block-display: grid;
    --day-block-height: 120px;
    --day-block-width: 100%;
    --grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --week-title-display: inline;
    --week-block-display: grid;
    --day-block-height: 170px;
    --day-block-width: 100%;
    --grid-template-columns: repeat(7, 1fr);
  }
}

:root {
  --calendar-width: 95vw;
  --week-of-day-height: 40px;
  --day-block-gap: 0.3vw;
  --calendar-margin: 20px;
}

body {
  background: #bae4d3;
}

/*
***********************************************
title bar and head css setting for calendar
***********************************************
*/
#calendar {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  width: 95vw;
}

#calendar-title-bar {
  width: 100%;
  background: #309c71;
  display: flex;
  justify-content: space-between;
}

#leaf-icon {
  width: 45px;
  height: 45px;
}

#calendar-title-bar-header {
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  padding-top: 12px;
  padding-bottom: 6px;
  color: #fff;
}

#calendar-head {
  margin-top: var(--calendar-margin);
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 26px;
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  background: #309c71;
  border-radius: 37.5244px 37.5244px 0 0;
}

#calendar-buffer {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 0.15vw;
  background: #309c71;
  border-radius: 0 0 37.5244px 37.5244px;
}

#calendar-head h1 {
  margin: 0%;
}

#calendar-title-bar-component {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #54cb9c;
}

.calendar-title-bar-btn {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #309c71;
  color: #fff;
}

.calendar-title-bar-btn:hover {
  background-color: royalblue;
}

.material-symbols-outlines {
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-size: 9px;
  color: #fff;
}

#month-label,
#year-label {
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

/*
***********************************************
day block css setting for calendar
***********************************************
*/

.week-of-day {
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  display: var(--week-title-display);
  width: var(--day-block-width);
  height: var(--week-of-day-height);
  background-color: #54cb9c;
  text-align: center;
}

.calendar-day-block {
  background: #f0fcee;
  height: var(--day-block-height);
  width: var(--day-block-width);
}

.date-block {
  width: 80%;
  height: 10%;
  padding: 0.1em;
}

.event-block {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18.7622px;
  line-height: 27px;
  color: #000;
  background-color: #54cb9c;
  margin: auto;
  width: 80%;
  height: 15%;
  border: 0.1em solid green;
  padding: 0.1em;
  padding-left: 6px;
  vertical-align: middle;
  border-radius: 62.5407px;
}

.task-block {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18.7622px;
  line-height: 27px;
  color: #000;
  background-color: #309c71;
  margin: auto;
  width: 80%;
  height: 15%;
  border: 0.1em solid green;
  padding: 0.1em;
  padding-left: 6px;
  vertical-align: middle;
  border-radius: 62.5407px;
}

.extra-block {
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18.7622px;
  line-height: 27px;
  color: #000;
  background-color: #767ad5;
  margin: auto;
  width: 80%;
  height: 15%;
  border: 0.1em solid green;
  padding: 0.1em;
  padding-left: 6px;
  vertical-align: middle;
  border-radius: 62.5407px;
}

#calendar-day-main {
  display: var(--week-block-display);
  gap: 0.15vw;
  grid-template-columns: var(--grid-template-columns);
  margin-left: 1vw;
  margin-right: 1vw;
  color: #fff;
  background: #309c71;
  border-radius: 37.5244px;
}

.calendar-day-block p {
  font-family: "Mochiy Pop One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 31.2704px;
  line-height: 45px;
  color: #000;
  margin: 0%;
  padding: 0%;
  border: 0;
}

.hidden {
  display: none;
}

.othermonth {
  background: #c2dbbd;
}

/*
***********************************************
function button setting for calendar
***********************************************
*/
#calendar-tail {
  margin-top: var(--calendar-margin);
  background: #309c71;
}

.calendar-tail-btn {
  margin: 10px;
  margin-right: 0;
  width: 50px;
  height: 50px;
  border-style: none;
  border-radius: 50px;
  background-color: #309c71;
  color: #fff;
}

.tail-label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
}

.calendar-tail-btn:hover {
  background-color: royalblue;
}
