@font-face {
  font-family: "Mochiy Pop One";
  src: url("../fonts/MochiyPopOne-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont.ttf");
}

body { 
  background: url("../images/splash.png");
  background-size: cover;
}

#title-container {
  text-align: center;
}

#title-header {
  font-family: 'Mochiy Pop One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #54CB9C;
}

#title-caption {
  font-family: 'Mochiy Pop One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  color: #309C71;
}

#main-container {
  width: 300px;
  height: 320px;
  padding: 50px;
  margin: auto;
  background: #F0FCEE;
  border-radius: 50px;
}

#main-container-header {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  line-height: 24px;
  color: #54CB9C;
}

#email-input-label, #password-input-label, #remember-box-label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 6px;
  color: #000;
}

#email-input, #password-input {
  box-sizing: border-box;
  width: 300px;
  height: 48px;
  font-size: 20px;
  padding: 16px;
  background: #FFF;
  border: 1px solid #309C71;
  border-radius: 50px;
}

#remember-box {
  background: #FFF;
  border: 1px solid #309C71;
  border-radius: 5px;
}

#input-button {
  width: 300px;
  height: 60px;
  font-size: 32px;
  color: white;
  background: #54CB9C;
  border-radius: 50px;
}


