.week-of-day {
    background-color:rgb(92, 106, 120);
    margin:0%;
    padding:0%;
    height: 40px;
    width: 170px;
}

.calendar-day-block {
    background-color:rgb(137, 149, 160);
    height: 170px;
    width: 170px;
}

#calendar-day-main {
    display: grid;
    gap: 5px;
    grid-template-columns: 170px 170px 170px 170px 170px 170px 170px;
}