* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

article{
    background-color: lightgreen;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: lightgreen; 
    padding: 10px;
    align-self: center;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

article {
    align-items: center;
    border: 5px solid rgb(223, 225, 229);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 118px 56px 14px 18px;
    height: auto;
    row-gap: 5px;
    padding: 0 16px 16px 16px;
    width: 178px;
}

article>img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 118px;
    object-fit: cover;
    margin-left: -16px;
    width: calc(100% + 32px);
}
p.texts {
    height: 32px;
    line-height: 16px;
    padding-top: 4px;
    overflow: hidden;
}
p.innerText {
    color: black !important;
}
p.title {
    display: -webkit-box;
    font-size: 16px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
p:not(.title),
span,
time {
    color: #70757A;
    font-size: 12px;
}

#button {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}


#calendar-title-bar {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
}


.title-button{
    margin: 10px;
    border-color: rgb(199, 248, 167);
    width: 100px;
    height: 50px;
    background-color: rgb(215, 249, 193);
}

#calendar-title-bar-conponent {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

/* Adding Form to the button */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  