@font-face {
  font-family: "Mochiy Pop One";
  src: url(../fonts/MochiyPopOne-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont.ttf);
}

/*
***********************************************
Media queries for 600px, 900px
***********************************************
*/

@media only screen and (max-width: 600px) {
  :root {
    --sb-width: 30%;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --sb-width: 30%;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    --sb-width: 20%;
  }
}

/*
***********************************************
Root variables
***********************************************
*/

:root {
  --sb-height: calc(
    37.6px + 2 * var(--calendar-margin) + var(--week-of-day-height) + 5 *
      var(--day-block-gap) + 5 * var(--day-block-height)
  ); /*TODO: HARDCODED!*/
  --sb-radius: 30px;
}

main {
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
}

#calendar {
  flex: 1 1 auto;
}

/*
***********************************************
Sidebar styling
***********************************************
*/

.sidebar-container {
  width: 0;
}

.sidebar-container.sidebar-container-open {
  width: var(--sb-width);
  flex: 0 1 auto;
}

.sidebar {
  font-family: "Mochiy Pop One";
  font-style: normal;
  background: #36b080;
  border: 2px solid black;
  border-radius: 0px 30px 30px 0px;
  /*border-radius: var(--sb-radius);*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: var(--sb-height);
  left: calc(-1 * var(--sb-width));
  min-height: 500px;
  position: absolute;
  /*top: 25%; /*TODO: Make responsive*/
  transition: transform 0s;
  width: var(--sb-width);
}

.sidebar-elongate {
  height: calc(var(--sb-height) + var(--day-block-height)) !important;
}

.sidebar-title {
  padding-left: 15px;
  margin-right: 5px;

  font-family: "Mochiy Pop One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #ffffff;
  background-color: #36b080;
}

.sidebar-title-2 {
  font-family: "Mochiy Pop One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  margin: 5px;
  padding-left: 10px;
  margin-right: 5px;
  padding-bottom: 5px;

  color: #ffffff;
}

.sidebar.sidebar-open {
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

/*
***********************************************
Sidebar event list styling
***********************************************
*/

.sidebar-events {
  flex: 1;
  height: 90%;
  transition: flex 0.5s ease;

  font-family: "Mochiy Pop One";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

/*
***********************************************
Sidebar to-do list styling
***********************************************
*/

.sidebar-tasks {
  height: 10%;
  flex: 0;

  font-family: "Mochiy Pop One";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
  background-color: #309c71;
}

.sidebar-tasks.sidebar-tasks-expanded {
  flex: 1;
  height: 90%;
  background-color: #309c71;
}

.tasks-head {
  display: flex;
  justify-content: space-between;
  background-color: #309c71;
  border-radius: 0px 0px 30px 0px;
  cursor: pointer;
}

.expand-tasks-btn {
  font-family: "Mochiy Pop One";
  font-style: normal;

  font-size: 1rem;
  border-radius: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  color: #ffffff;
}
