.title-container {
  text-align: center;
}


.redirect-button {
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 25em;
  padding: 20px;
  width: 50%;
  height: 15px;
}

.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 20px;
}

button {
  box-sizing: content-box;
  margin: auto;
  border-radius: 25em;
  text-align: center;
}